<h1>Index</h1>
<form action="/artist-search" method="GET">
    <label for="artist">Enter an artist</label>
    <input type="text" name="search" id="title">
    <button type="Search for an Artist">Search</button>
</form>
